.container{
    max-width: 600px;
 }
 .btn{
    background: #5ea598;
    color: white;
    outline: none !important;
    box-shadow: none !important;
 }
 .btn:focus{
    outline: none !important;
 }

.nav{
   display: flex; 
   font-style:normal;
   padding-right: 10%; 
}

.nav a{
    color: #b3b3b3;
    display: flex;
    
}

.navgif a{
    margin-left: 15%;
}
nav ul{
   display: flex;
   margin-right: 15%;
   
}

